body{
    
    background-color: whitesmoke;
    
}


  
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: cursive;
    color: tomato;
}
h6 {
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
    color:tomato;
}
button {
    color: tomato;
    border-radius: 3px;
    background-color: beige;
    font-size: 14px;
}

p:hover {
    zoom: 1.1;
    
}

p {
  color: darkslategray;
  
}
 
.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  h5{
      text-align: left;
      font-style: oblique;
      color: red;
      font-family: Georgia, 'Times New Roman', Times, serif;
     
  }
  .container{
      justify-content: center;
      
  }
  .hero-image {
    /* background-image:  url(""); */
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }