body{
    
    background-color: whitesmoke;
    
}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: cursive;
    color: tomato;
}
h6 {
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
    color:tomato;
}
button {
    color: tomato;
    border-radius: 3px;
    background-color: beige;
    font-size: 14px;
}

p:hover {
    zoom: 1.1;
    
}

p {
  margin: 0px;  
  color: darkslategray;
  
}